# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
!.env.example
!.env.production.example
src/web-dashboard/backend/.env*
!src/web-dashboard/backend/.env.example
!src/web-dashboard/backend/.env.production.example
src/web-dashboard/frontend/.env*
!src/web-dashboard/frontend/.env.example
!src/web-dashboard/frontend/.env.production.example

# Dependencies
node_modules/

# Other common ignores
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/web-dashboard/frontend/src/analytics-api-frontend-guide.md
